.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 60px;
    background-color: #fff;
    
    &_logo {
      width: 104px;
    }
    
    &_button {
      margin-left: 10px;
      width: 100px;
      height: 34px;
      border: none;
      background-color: #F4E041;
      cursor: pointer;
      font-size: 16px;
      border-radius: 80px;
      font-family: 'Nunito', sans-serif;
      transition: background-color 0.3s ease;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &_button:hover {
      background-color: #FFE302;
  }

  @media (max-width: 768px) {
    padding: 13px 32px;
  }

  @media (max-width: 360px) {
    padding: 13px 16px;
  }

  }


  
  
  