.GETBlock {
    margin: 0;
    background: #F8F8F8;
    padding: 140px 0;

    &_container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    &_title {
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 50px;
        color: #000;
        line-height: 40px;
    }

    &_card-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 29px;
        justify-content: center;
    }

    &_card {
        background: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 16px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;

        &_image {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            object-fit: cover;
        }

        &_title {
            margin: 20px 0 22px 0;
            font-weight: 400;
            font-size: 16px;
            color: #000;
            text-align: center;
            line-height: 26px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_position {
            font-size: 16px;
            color: #000;
            margin-bottom: 1px;
        }

        &_email,
        &_phone {
            font-size: 16px;
            color: #000;
            margin-bottom: 1px;
            overflow-wrap: anywhere;
        }

        &_email {
            position: relative;
            display: inline-block;
            cursor: pointer;

            .tooltip {
                visibility: hidden;
                background-color: #000;
                color: #fff;
                text-align: center;
                border-radius: 4px;
                padding: 5px 10px;
                position: absolute;
                top: 100%;
                left: 90%;
                transform: translateX(-50%);
                white-space: nowrap;
                font-size: 14px;
                z-index: 1;
                opacity: 0;
                transition: opacity 0.3s;
              }
            
              &:hover .tooltip {
                visibility: visible;
                opacity: 1;
              }
        }
    }

    &_button {
        width: 120px;
        height: 34px;
        margin-top: 50px;
        border: none;
        background-color: #F4E041;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        border-radius: 80px;
        transition: background-color 0.3s ease;
        font-family: 'Nunito', sans-serif;

        &:hover {
            background-color: #FFE302;
        }
    }

    @media (max-width: 1024px) {
        &_card-container {
            gap: 29px;
            width: 904px;
            margin: 0 auto;
        }
    }

    @media (max-width: 768px) {
        &_card-container {
            gap: 16px;
            width: 704px;
            margin: 0 auto;
        }
    }

    @media (max-width: 390px) {
        &_container {
            max-width: 328px;
        }

        &_title {
            margin-bottom: 50px;
        }

        &_card-container {
            gap: 20px;
            width: 328px;
        }

        &_button {
            margin-top: 56px;
        }
    }
}
